<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="container text-center">
<h1>Password Generator</h1>

<form action="{% url 'password' %}">
    <select name="length">
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10" selected="selected">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    </select>Length
    <br>
    <input type="checkbox" id="uppercase" name="uppercase"> <label for="uppercase">Uppercase</label>
    <br>
    <input type="checkbox" id="numbers" name="numbers"> <label for="numbers">Numbers</label>
    <br>
    <input type="checkbox" id="special" name="special"> <label for="special">Special Character</label>
    <br>
    <input type="submit" value="Generate Password" class="btn btn-primary">
</form>
<a href="{% url 'about' %}">About</a>

</div>